<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About My Splurty</h1>

  <p>
    I designed and developed this app using the Firehose Project course. I’m working on making it the best I can because I am trying to be the best developer I can.
  </p>
  <br />
  <p>
    I chose to make it about video games because videogames have been a huge part of my life! I’ve played games for as long as I can remember and they have truly had an impact on my view of the world. They are the reason I ended up in the tech field today! Sharing my love of games with other gamers has always been a source of fun for me!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

<div class="col-xs-12 col-sm-4">
  <br />
  <br />
  <%= image_tag 'erika.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Erika Hughes</h2>
  <br />
  <p>
    Artist and Game Developer. Experience in Unity, Unreal 4 Engine, and ActionScript for Flash. Enjoys designing and creating all things digital. Originally started as a traditional arist, now has expanded her skills to programming. Loves her cats Raiden and Kylo.
  </p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />

</div>